<div id="map"></div>
<div id="zones-caption" class="map-caption">
  <% @zones && @zones.each{ |zone| %>
  <div class="map-caption-item">
    <span class="color_small" style="background: <%= zone.vehicle ? zone.vehicle.color : '#707070' %>"></span>
    <% if zone.vehicle %>
      <%= zone.vehicle.name %>
    <% else %>
      <i><%= t('.without_vehicle') %></i>
    <% end %>
  </div>
  <% } %>
</div>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  zoning_id: @zoning.id,
  zone_ids: @zones ? @zones.collect(&:id) : nil,
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: (@vehicle_usage_set && @vehicle_usage_set.vehicle_usages.collect(&:default_store_start).compact.find{ |s| s.lat }.try(:lat)) || @zoning.customer.default_position[:lat],
  map_lng: (@vehicle_usage_set && @vehicle_usage_set.vehicle_usages.collect(&:default_store_start).compact.find{ |s| s.lng }.try(:lng)) || @zoning.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  vehicles_map: Hash[@zoning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, capacity1_1: vehicle.capacity1_1, capacity1_2: vehicle.capacity1_2}]
  }],
  destinations: !@destinations_all.nil?,
  destination_ids: @destinations ? @destinations.collect(&:id) : nil,
  vehicle_usage_set_id: @vehicle_usage_set ? @vehicle_usage_set.id : nil,
  store_ids: @stores ? @stores.collect(&:id) : nil,
  method: @method
)
%>
