<div id="map"></div>
<div id="zones-caption" class="map-caption">
  <% @zones.each{ |zone| %>
  <div class="map-caption-item">
    <span class="color_small" style="background: <%= zone.vehicle ? zone.vehicle.color : '#707070' %>"></span>
    <% if zone.vehicle %>
      <%= zone.vehicle.name %>
    <% else %>
      <i><%= t('.without_vehicle') %></i>
    <% end %>
  </div>
  <% } %>
</div>
<%
controller.js(
  zoning_id: @zoning.id,
  zone_ids: @zones.collect(&:id),
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @zoning.customer.default_position[:lat],
  map_lng: @zoning.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  vehicles_map: Hash[@zoning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, capacity: vehicle.capacity}]
  }],
  destinations: !!@destinations.nil?,
)
%>
