<div id="map"></div>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @customer.default_position[:lat],
  map_lng: @customer.default_position[:lng],
  ids: @destinations ? @destinations.collect(&:id) : nil,
  store_ids: @stores ? @stores.collect(&:id) : nil,
  disable_clusters: @disable_clusters,
  method: @method
)
%>
