<div id="map"></div>
<%
controller.js(
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @customer.default_position[:lat],
  map_lng: @customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  ids: @destinations ? @destinations.collect(&:id) : nil
)
%>
