<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <%= t '.content' %>
      <%= link_to t(".set_password"), [:password, user.customer, user, token: user.confirmation_token] %>
    </p>
  </body>
</html>
