<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= render 'form' %>

<%
  routers = @vehicle_usage.vehicle.customer.profile.routers

  controller.js(
    customer_id: @vehicle_usage.vehicle.customer.id,
    devices: @vehicle_usage.vehicle.devices.select { |d, v| v && !v.empty? },
    routers_options: Hash[routers.collect { |r| [r.id, r.options] }]
  )
%>
