<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= render 'form' %>

<%
controller.js(
  customer_id: @vehicle_usage.vehicle.customer.id,
  tomtom: current_user.customer.tomtom?,
  tomtom_id: @vehicle_usage.vehicle.tomtom_id
)
%>
