// Copyright © Mapotempo, 2015
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the zonings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller='api_web_v01_routes'][data-action='index'] {

  .ui-pnotify {
    top: 20px !important;
    right: 20px !important;
  }

  #map {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #routes-caption {
    background: white;
    padding: 10px;
    max-height: 200px;
    overflow: auto;
  }
  .flash {
    margin: 30px;
    position: fixed;
    left: 30px;
    right: 30px;
  }
}
