<span class="route-info"><i class="fa fa-check-square fa-fw"></i>{{size_active}}/{{size}}&nbsp;{{#i18n}}plannings.edit.stops{{/i18n}}</span>
<span class="route-info"><i class="fa fa-clock-o fa-fw"></i>{{duration}}</span>
<span class="route-info"><i class="fa fa-road fa-fw"></i>{{distance}}</span>
<span class="route-info"><i class="fa fa-flask fa-fw"></i>{{emission}}&nbsp;{{#i18n}}all.unit.kgco2e_html{{/i18n}}</span>
