<p class="global_info">
  <span class="route-info"><i class="fa fa-check-square fa-fw"></i>{{size_active}}/{{size}}&nbsp;{{#i18n}}plannings.edit.stops{{/i18n}}</span>
  <span class="route-info"><i class="fa fa-clock-o fa-fw"></i>{{duration}}</span>
  <span class="route-info"><i class="fa fa-road fa-fw"></i>{{distance}}</span>
  <span class="route-info"><i class="fa fa-flask fa-fw"></i>{{emission}}&nbsp;{{#i18n}}all.unit.kgco2e_html{{/i18n}}</span>
</p>
{{#out_of_date}}
<p class="text-center">
  <button type="button" class="btn btn-warning btn-sm" id="refresh" title="{{#i18n}}plannings.edit.refresh_help{{/i18n}}"><i class="fa fa-refresh fa-fw"></i> {{#i18n}}plannings.edit.refresh{{/i18n}}</button>
</p>
{{/out_of_date}}
{{#zoning_out_of_date}}
<p class="text-center">
{{#i18n}}plannings.edit.out_of_date_zoning{{/i18n}}
</p>
{{/zoning_out_of_date}}
<ol class="routes">
{{#routes}}
<li class="route" data-route_id="{{route_id}}"{{#vehicle}} data-color="{{color}}" {{/vehicle}}>
  {{^vehicle}}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <i class="fa fa-arrows-h"></i>
          {{#i18n}}plannings.edit.out_of_route{{/i18n}}
          <div class="btn-group pull-right">
            <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
            <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_unplanned_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          </div>
        </div>
        <div class="panel-body">
          <p>
            <i class="fa fa-check-square fa-fw"></i>{{size}}&nbsp;{{#i18n}}plannings.edit.stops{{/i18n}}
            {{#quantity}}<i class="fa fa-archive fa-fw"></i>{{quantity}}{{/quantity}}
          </p>
        </div>
        <ul id="out_of_route" class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
        {{#stops}}
          {{#destination}}{{#visits}}
          <li data-stop_id="{{stop_id}}" class="waypoint ui-state-error list-group-item">
            <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
            <input type="checkbox" checked="checked" style="display: none"/>
            <div class="title">
              {{^geocoded}}
                <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
              {{/geocoded}}
              <span class="name" title="{{name}}{{#index_visit}} #{{index_visit}}{{/index_visit}}">{{name}}</span>{{#index_visit}} #{{index_visit}}{{/index_visit}}<br />
            </div>
            <div class="btn-group pull-right stop-tools">
              {{#geocoded}}
                <button class="automatic_insert btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-lightbulb-o"></i></button>
              {{/geocoded}}
              <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
              {{#geocoded}}<a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>{{/geocoded}}
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.send_to_route_help{{/i18n}}"><i class="fa fa-truck fa-fw"></i><span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                  {{#routes}}
                    {{^vehicle}}
                      <li><a href="/plannings/{{planning_id}}/{{route_id}}/{{stop_id}}/move/-1.json" class="send_to_route"> {{#i18n}}plannings.edit.out_of_route{{/i18n}}</a></li>
                    {{/vehicle}}
                    {{#vehicle}}
                      <li><a href="/plannings/{{planning_id}}/{{route_id}}/{{stop_id}}/move/-1.json" class="send_to_route"><div class="color_small" style="background:{{color}}"></div> {{name}}</a></li>
                    {{/vehicle}}
                  {{/routes}}
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
          {{/visits}}{{/destination}}
        {{/stops}}
        </ul>
      </div>
  {{/vehicle}}
  {{#vehicle}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-arrows-h"></i>
        <input id="route_ref" class="form-control" type="text" value="{{ref}}" name="route[ref]" placeholder="{{#i18n}}plannings.edit.route_placeholder{{/i18n}}" />
        <select name="route[color]" class="color_select select2-xs" value="{{color}}" style="display:none">
          {{#colors}}
            <option value="{{color}}"{{#selected}} selected="selected"{{/selected}}>{{color}}</option>
          {{/colors}}
        </select>
        <span class="fake select2 select2-container select2-container--bootstrap input-sm select2-container--below" dir="ltr" style="display: inline-block;"><span class="selection"><span aria-labelledby="select2-route[color]-uj-container" tabindex="0" class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false"><span title="{{color_fake}}" id="select2-route[color]-uj-container" class="select2-selection__rendered"><span class="color_small" style="background:{{color_fake}}"></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        <select name="route[vehicle]" class="vehicle_select select2-xs" value="{{vehicle_id}}" data-initial-value="{{vehicle_id}}" style="display:none">
          <option value="{{vehicle_id}}" selected="selected">{{vehicle_id}}</option>
        </select>
        <span class="fake select2 select2-container select2-container--bootstrap input-sm select2-container--below" dir="ltr" style="display: inline-block;"><span class="selection"><span aria-labelledby="select2-route[vehicle]-uj-container" tabindex="0" class="select2-selection select2-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false"><span title="{{vehicle_id}}" id="select2-route[vehicle]-uj-container" class="select2-selection__rendered"><span><span class="color_small" style="background:{{color}};{{#color_fake}} display: none;{{/color_fake}}"></span>&nbsp;<span>{{name}}</span></span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        <div class="btn-group pull-right">
          <a href="{{path}}" class="btn btn-primary btn-xs" title="{{#i18n}}plannings.edit.vehicle_help{{/i18n}}"><i class="fa fa-truck"></i></a>
          <button type="button" class="optimize btn btn-primary btn-xs" title="{{#i18n}}plannings.edit.optimize_help{{/i18n}}"><i class="fa fa-gear"></i></button>
          <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
          <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.export_help{{/i18n}}"><i class="fa fa-share-square-o"></i><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a class="reverse_order" href="/plannings/{{planning_id}}/{{route_id}}/reverse_order"><i class="fa fa-random fa-fw"></i> {{#i18n}}plannings.edit.reverse_order{{/i18n}}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/routes/{{route_id}}"><i class="fa fa-print fa-fw"></i> {{#i18n}}plannings.edit.export.print{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.csv"><i class="fa fa-table fa-fw"></i> {{#i18n}}plannings.edit.export.spreadsheet_standard{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.excel"><i class="fa fa-table fa-fw"></i> {{#i18n}}plannings.edit.export.spreadsheet_excel{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.gpx"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.gpx_route{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.gpx?track=true"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.gpx_trace{{/i18n}}</a></li>
              {{#contact_email}}
                <li class="kmz_email">
                  <a href="/routes/{{route_id}}.kmz?email=1">
                    <i class="fa fa-envelope fa-fw"></i>
                    {{#i18n}}plannings.edit.export.kmz_email.action{{/i18n}}
                  </a>
                </li>
              {{/contact_email}}
              <li><a href="/routes/{{route_id}}.kmz"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.kmz_track{{/i18n}}</a></li>
              {{#tomtom}}
                <li class="tomtom_send"><a href="/routes/{{route_id}}.tomtom?type=orders"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.tomtom_send.action{{/i18n}}</a></li>
                <li class="tomtom_send"><a href="/routes/{{route_id}}.tomtom?type=waypoints"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.tomtom_waypoints{{/i18n}}</a></li>
                <li class="tomtom_clear"><a href="/routes/{{route_id}}.tomtom?type=empty"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.tomtom_clear.action{{/i18n}}</a></li>
              {{/tomtom}}
              {{#masternaut}}
                <li class="export_masternaut"><a href="/routes/{{route_id}}.masternaut"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.masternaut{{/i18n}}</a></li>
              {{/masternaut}}
              {{#alyacom}}
                <li class="export_alyacom"><a href="/routes/{{route_id}}.alyacom"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.alyacom{{/i18n}}</a></li>
              {{/alyacom}}
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-check-square fa-fw"></i>{{size_active}}/{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
              <li><a class="active_none" href="/plannings/{{planning_id}}/{{route_id}}/active/none"><i class="fa fa-square-o fa-fw"></i> {{#i18n}}plannings.edit.active_none{{/i18n}}</a></li>
              <li><a class="active_reverse" href="/plannings/{{planning_id}}/{{route_id}}/active/reverse"><i class="fa fa-random fa-fw"></i> {{#i18n}}plannings.edit.active_reverse{{/i18n}}</a></li>
              <li><a class="active_all" href="/plannings/{{planning_id}}/{{route_id}}/active/all"><i class="fa fa-check-square-o fa-fw"></i> {{#i18n}}plannings.edit.active_all{{/i18n}}</a></li>
            </ul>
          </div>
          <span class="route-info"><i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.duration_help{{/i18n}}"></i>{{duration}}/{{work_time}}</span>
          <span class="route-info"><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.distance_help{{/i18n}}"></i>{{distance}}</span>
          {{#quantity}}<span class="route-info"><i class="fa fa-archive fa-fw" title="{{#i18n}}plannings.edit.quantity_help{{/i18n}}"></i>{{quantity}}{{#capacity}}/{{capacity}}{{/capacity}}{{#capacity_unit}}&nbsp;{{capacity_unit}}{{/capacity_unit}}{{/quantity}}</span>
        {{#route_error}}
          <ul class="ui-state-error">
            {{#route_no_geolocalization}}
              <li title="{{#i18n}}plannings.edit.error.no_geolocalization_help{{/i18n}}"><i class="fa fa-map-marker fa-fw"></i> {{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}</li>
            {{/route_no_geolocalization}}
            {{#route_out_of_window}}
              <li title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
            {{/route_out_of_window}}
            {{#route_out_of_capacity}}
              <li title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"><i class="fa fa-archive fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
            {{/route_out_of_capacity}}
            {{#route_out_of_drive_time}}
              <li title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"><i class="fa fa-power-off fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
            {{/route_out_of_drive_time}}
            {{#route_no_path}}
              <li title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"><i class="fa fa-road fa-fw"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
            {{/route_no_path}}
          </ul>
        {{/route_error}}
      </div>

      {{#store_start}}
      <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
        <li data-store_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa {{icon}}{{^icon}}fa-home{{/icon}} fa-fw" style="color: {{color}}{{^color}}black{{/color}};"></i>
          <div class="title">
            {{^geocoded}}
              <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
            {{/geocoded}}
            {{#no_path}}
              <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path{{/i18n}}"></i>
            {{/no_path}}
            <span class="info">
              {{#time}}
                {{time}}{{#with_service_time}}&nbsp;-&nbsp;{{with_service_time}}{{/with_service_time}}
              {{/time}}
            </span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          <div class="btn-group pull-right stop-tools">
            <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      {{/store_start}}

      <ul class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
      {{#stops}}
        {{#wait_time}}
          <li class="wait ui-state-disabled list-group-item">
            <i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.wait{{/i18n}} {{wait_time}}
          </li>
        {{/wait_time}}
        {{#rest}}
        <li data-stop_id="{{stop_id}}" data-store_id="{{store_id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
          <span class="number label label-default{{^active}} label-empty{{/active}}" style="background-color: {{color}};">{{number}}</span>
          <input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>
          <div class="title">
            {{#out_of_window}}
              <i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
            {{/out_of_window}}
            {{#out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/out_of_drive_time}}
            {{#no_path}}
              <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
            {{/no_path}}
            <span class="info">{{#active}}{{time}} - {{/active}}</span>
            <span class="name" title="{{name}}"><i class="fa fa-coffee fa-fw"></i> {{name}}</span>
          </div>
          <div class="btn-group pull-right stop-tools">
            {{#automatic_insert}}
              <button class="automatic_insert btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-lightbulb-o"></i></button>
            {{/automatic_insert}}
            {{#geocoded}}<a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>{{/geocoded}}
          </div>
          <div class="clearfix"></div>
        </li>
        {{/rest}}
        {{#destination}}{{#visits}}
        <li data-stop_id="{{stop_id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
          <span class="number label label-default{{^active}} label-empty{{/active}}{{#color_force}} color_force{{/color_force}}" style="background-color: {{color}};">{{number}}</span>
          <input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}} {{^geocoded}}disabled="disabled"{{/geocoded}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>
          <div class="title">
            {{^geocoded}}
              <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
            {{/geocoded}}
            {{#out_of_window}}
              <i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
            {{/out_of_window}}
            {{#out_of_capacity}}
              <i class="fa fa-archive fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i>
            {{/out_of_capacity}}
            {{#out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/out_of_drive_time}}
            {{#no_path}}
              <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
            {{/no_path}}
            <span class="info">{{#active}}{{#geocoded}}{{^no_path}}{{time}} - {{/no_path}}{{/geocoded}}{{/active}}</span>
            <span class="name" title="{{name}}{{#index_visit}} #{{index_visit}}{{/index_visit}}">{{name}}</span>{{#index_visit}} #{{index_visit}}{{/index_visit}}
          </div>
          <div class="btn-group pull-right stop-tools">
            {{#automatic_insert}}
              {{#geocoded}}
                <button class="automatic_insert btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-lightbulb-o"></i></button>
              {{/geocoded}}
            {{/automatic_insert}}
            <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
            {{#geocoded}}
              <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
            {{/geocoded}}
          </div>
          <div class="clearfix"></div>
        </li>
        {{/visits}}{{/destination}}
      {{/stops}}
      </ul>

      {{#store_stop}}
      <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
        <li data-store_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa {{icon}}{{^icon}}fa-home{{/icon}} fa-fw" style="color: {{color}}{{^color}}black{{/color}};"></i>
          <div class="title">
            {{^geocoded}}
              <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geolocalization{{/i18n}}"></i>
            {{/geocoded}}
            {{#stop_out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/stop_out_of_drive_time}}
            {{#no_path}}
              <i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i>
            {{/no_path}}
            <span class="info">
              {{#time}}
                {{#with_service_time}}{{with_service_time}}&nbsp;-&nbsp;{{/with_service_time}}{{time}}
              {{/time}}
            </span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          <div class="btn-group pull-right stop-tools">
            <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
          </div>
          <div class="clearfix"></div>
        </li>
      </ul>
      {{/store_stop}}

    </div>
  {{/vehicle}}
</li>
{{/routes}}
</ol>
