<p class="global_info">
  <i class="fa fa-check-square fa-fw"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
  <i class="fa fa-road fa-fw"></i>{{distance}}
  <i class="fa fa-flask fa-fw"></i>{{emission}} {{#i18n}}all.unit.kgco2e_html{{/i18n}}
</p>
{{#out_of_date}}
<p class="text-center">
  <button type="button" class="btn btn-warning btn-sm" id="refresh" title="{{#i18n}}plannings.edit.refresh_help{{/i18n}}"><i class="fa fa-refresh fa-fw"></i> {{#i18n}}plannings.edit.refresh{{/i18n}}</button>
</p>
{{/out_of_date}}
{{#zoning_out_of_date}}
<p class="text-center">
{{#i18n}}plannings.edit.out_of_date_zoning{{/i18n}}
</p>
{{/zoning_out_of_date}}
<ol class="routes">
{{#routes}}
<li class="route" data-route_id="{{route_id}}"{{#vehicle}} data-color="{{color}}" {{/vehicle}}>
  {{^vehicle}}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <i class="fa fa-arrows-h"></i>
          {{#i18n}}plannings.edit.out_of_route{{/i18n}}
          <div class="btn-group pull-right">
            <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
            <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_unplanned_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          </div>
        </div>
        <div class="panel-body">
          <p>
            <i class="fa fa-check-square fa-fw"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
            <i class="fa fa-archive fa-fw"></i>{{quantity}}
          </p>
        </div>
        <ul id="out_of_route" class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
        {{#stops}}
          {{#destination}}
          <li data-destination_id="{{id}}" class="waypoint ui-state-error list-group-item">
            <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
            <input type="checkbox" checked="checked" style="display: none"/>
            <div class="title">
              <span class="name" title="{{name}}">{{name}}</span><br />
            </div>
            <div class="btn-group pull-right">
              <button class="automatic_insert btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-lightbulb-o"></i></button>
              <a href="/destinations/{{id}}/edit?back=true" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
              {{#lat}}<a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>{{/lat}}
            </div>
            <div class="clearfix"></div>
          </li>
          {{/destination}}
        {{/stops}}
        </ul>
      </div>
  {{/vehicle}}
  {{#vehicle}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-arrows-h"></i>
        <input type="hidden" class="vehicle_select" value="{{vehicle_id}}" />
        <div class="btn-group pull-right">
          <a href="{{path}}" class="btn btn-primary btn-xs" title="{{#i18n}}plannings.edit.vehicle_help{{/i18n}}"><i class="fa fa-truck"></i></a>
          <button type="button" class="optimize btn btn-primary btn-xs" title="{{#i18n}}plannings.edit.optimize_help{{/i18n}}"><i class="fa fa-gear"></i></button>
          <button type="button" class="toggle btn btn-default btn-xs" title="{{#i18n}}plannings.edit.toggle_help{{/i18n}}"><i class="fa fa-eye{{#hidden}}-slash{{/hidden}}"></i></button>
          <button type="button" class="lock btn {{^locked}}btn-default{{/locked}}{{#locked}}btn-warning{{/locked}} btn-xs" title="{{#i18n}}plannings.edit.locked_help{{/i18n}}"><i class="fa fa-{{^locked}}un{{/locked}}lock"></i></button>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.export_help{{/i18n}}"><i class="fa fa-share-square-o"></i><span class="caret"></span></button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="/routes/{{route_id}}"><i class="fa fa-print fa-fw"></i> {{#i18n}}plannings.edit.export.print{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.csv"><i class="fa fa-table fa-fw"></i> {{#i18n}}plannings.edit.export.spreadsheet_standard{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.excel"><i class="fa fa-table fa-fw"></i> {{#i18n}}plannings.edit.export.spreadsheet_excel{{/i18n}}</a></li>
              <li><a href="/routes/{{route_id}}.gpx"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.gps_waypoint{{/i18n}}</a></li>
              {{#tomtom}}
                <li class="export_tomtom"><a href="/routes/{{route_id}}.tomtom?type=orders"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.tomtom_orders{{/i18n}}</a></li>
                <li class="export_tomtom"><a href="/routes/{{route_id}}.tomtom?type=waypoints"><i class="fa fa-mobile fa-fw"></i> {{#i18n}}plannings.edit.export.tomtom_waypoints{{/i18n}}</a></li>
              {{/tomtom}}
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <i class="fa fa-check-square fa-fw"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
          <i class="fa fa-clock-o fa-fw"></i>{{duration}}/{{work_time}}
          <i class="fa fa-road fa-fw"></i>{{distance}}
          <i class="fa fa-archive fa-fw"></i>{{quantity}}/{{capacity}}
        </p>
        {{#route_error}}
          <ul class="ui-state-error">
            {{#route_no_geocoding}}
              <li title="{{#i18n}}plannings.edit.error.no_geocoding_help{{/i18n}}"><i class="fa fa-map-marker fa-fw"></i> {{#i18n}}plannings.edit.error.no_geocoding{{/i18n}}</li>
            {{/route_no_geocoding}}
            {{#route_out_of_window}}
              <li title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
            {{/route_out_of_window}}
            {{#route_out_of_capacity}}
              <li title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"><i class="fa fa-archive fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
            {{/route_out_of_capacity}}
            {{#route_out_of_drive_time}}
              <li title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"><i class="fa fa-power-off fa-fw"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
            {{/route_out_of_drive_time}}
          </ul>
        {{/route_error}}
      </div>
      <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
      {{#store_start}}
        <li data-destination_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa fa-home fa-fw"></i>
          <div class="title">
            <span class="info">{{#lat}}{{time}} - {{/lat}}</span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          <div class="btn-group pull-right">
            <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
          </div>
          <div class="clearfix"></div>
        </li>
      {{/store_start}}
      </ul>
      <ul class="stops sortable list-group" {{#hidden}}style="display: none;"{{/hidden}}>
      {{#stops}}
        {{#destination}}
        <li data-destination_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa fa-reorder fa-fw" title="{{#i18n}}plannings.edit.drag_help{{/i18n}}"></i>
          <span class="number label label-default{{^active}} label-empty{{/active}}" style="background-color: {{color}};">{{number}}</span>
          <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>
          <div class="title">
            {{#no_geocoding}}
              <i class="fa fa-map-marker fa-fw" title="{{#i18n}}plannings.edit.error.no_geocoding{{/i18n}}"></i>
            {{/no_geocoding}}
            {{#out_of_window}}
              <i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i>
            {{/out_of_window}}
            {{#out_of_capacity}}
              <i class="fa fa-archive fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i>
            {{/out_of_capacity}}
            {{#out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/out_of_drive_time}}
            <span class="info">{{#active}}{{#lat}}{{time}} - {{/lat}}{{/active}}</span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          <div class="btn-group pull-right">
            {{^is_store}}
               <a href="/destinations/{{id}}/edit?back=true" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
            {{/is_store}}
            {{#lat}}
              <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
            {{/lat}}
          </div>
          <div class="clearfix"></div>
        </li>
        {{/destination}}
      {{/stops}}
      </ul>
      {{#store_stop}}
      <ul class="stops list-group" {{#hidden}}style="display: none;"{{/hidden}}>
        <li data-destination_id="{{id}}" class="{{type}}{{#error}} ui-state-error{{/error}} list-group-item">
          <i class="fa fa-home fa-fw"></i>
          <div class="title">
            {{#stop_out_of_drive_time}}
              <i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i>
            {{/stop_out_of_drive_time}}
            <span class="info">{{#lat}}{{time}} - {{/lat}}</span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          <div class="btn-group pull-right">
            <a href="#" class="marker btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.marker_help{{/i18n}}"><i class="fa fa-map-marker"></i></a>
          </div>
          <div class="clearfix"></div>
        </li>
      {{/store_stop}}
      </ul>
    </div>
  {{/vehicle}}
</li>
{{/routes}}
</ol>
