<span class="route-info"><i class="fa fa-check-square fa-fw" title="{{#i18n}}plannings.edit.stops_help{{/i18n}}"></i>{{size_active}}/{{size}}&nbsp;{{#i18n}}plannings.edit.stops{{/i18n}}</span>
<span class="route-info"><i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.duration_help{{/i18n}}"></i>{{duration}}</span>
<span class="route-info"><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.distance_help{{/i18n}}"></i>{{distance}}</span>
<span class="route-info"><i class="fa fa-flask fa-fw" title="{{#i18n}}plannings.edit.emission_help{{/i18n}}"></i>{{emission}}&nbsp;{{#i18n}}all.unit.kgco2e_html{{/i18n}}</span>
