<p class="global_info">
  <i class="icon icon-check-sign icon-fixed-width"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
  <i class="icon icon-road icon-fixed-width"></i>{{distance}} {{#i18n}}all.unit.km{{/i18n}}
  <i class="icon icon-beaker icon-fixed-width"></i>{{emission}} {{#i18n}}all.unit.kgco2e_html{{/i18n}}
</p>
{{#out_of_date}}
<p class="text-center">
  <button type="button" class="btn btn-warning btn-sm" id="refresh"><i class="icon-refresh icon-fixed-width"></i> {{#i18n}}plannings.edit.refresh{{/i18n}}</button>
</p>
{{/out_of_date}}
<ol class="routes">
{{#routes}}
<li class="route" data-route_id="{{route_id}}"{{#vehicle}} data-color="{{color}}" {{/vehicle}}>
  {{^vehicle}}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <i class="icon icon-resize-horizontal"></i>
          {{#i18n}}plannings.edit.out_of_road{{/i18n}}
          <button type="button" class="toggle btn btn-default btn-xs"><i class="icon-eye-close icon-fixed-width"></i></button>
          <!--<button type="button" class="lock btn btn-default btn-xs"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>-->
        </div>
        <div class="panel-body">
          <p>
            <i class="icon icon-check-sign icon-fixed-width"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
          </p>
        </div>
        <ul id="out_of_road" class="stops sortable list-group">
        {{#stops}}
          {{#destination}}
          <li data-destination_id="{{id}}" class="waypoint ui-state-error list-group-item">
            <i class="icon icon-reorder icon-fixed-width"></i>
            <div class="caption">
              <span class="name" title="{{name}}">{{name}}</span><br />
            </div>
            <div class="btn-group pull-right">
              <a href="/destinations/{{id}}/edit" class="marker_edit btn btn-inverse btn-xs"><i class="icon icon-pencil"></i></a>
              {{#lat}}<a href="#" class="marker btn btn-inverse btn-xs"><i class="icon icon-map-marker"></i></a>{{/lat}}
            </div>
            <div class="clearfix"></div>
          </li>
          {{/destination}}
        {{/stops}}
        </ul>
      </div>
  {{/vehicle}}
  {{#vehicle}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="icon icon-resize-horizontal"></i>
        <input type="hidden" class="vehicle_select" />
        <a href="{{path}}" class="btn btn-primary btn-xs"><i class="icon-truck icon-fixed-width"></i></a>
        <button type="button" class="optimize btn btn-primary btn-xs"><i class="icon-gear icon-fixed-width"></i></button>
        <button type="button" class="toggle btn btn-default btn-xs"><i class="icon-eye-close icon-fixed-width"></i></button>
        <!--<button type="button" class="lock btn btn-default btn-xs"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>-->
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown"><i class="icon-share icon-fixed-width"></i><span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/routes/{{route_id}}"><i class="icon-print icon-fixed-width"></i> {{#i18n}}plannings.edit.export.print{{/i18n}}</a></li>
            <li><a href="/routes/{{route_id}}.csv"><i class="icon-table icon-fixed-width"></i> {{#i18n}}plannings.edit.export.spreadsheet{{/i18n}}</a></li>
          </ul>
        </div>
      </div>
      <div class="panel-body">
        <p>
          <i class="icon icon-check-sign icon-fixed-width"></i>{{size}} {{#i18n}}plannings.edit.stops{{/i18n}}
          <i class="icon icon-time icon-fixed-width"></i>{{start}} - {{end}}
          <i class="icon icon-road icon-fixed-width"></i>{{distance}} {{#i18n}}all.unit.km{{/i18n}}
        </p>
      </div>
      <ul class="stops sortable list-group"{{#hidden}} style="display: none;"{{/hidden}} start="0">
      {{#stops}}
        {{#destination}}
        <li data-destination_id="{{id}}" class="{{type}}{{^lat}} ui-state-error{{/lat}} list-group-item">
          {{#is_store}}
            <i class="icon icon-home icon-fixed-width"></i>
          {{/is_store}}
          {{^is_store}}
            <i class="icon icon-reorder icon-fixed-width"></i>
            <span class="number label label-default{{^active}} label-empty{{/active}}">{{#number}}{{number}}{{/number}}</span>
            <div class="checkbox-inline">
              <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}}/>
            </div>
          {{/is_store}}
          <div class="caption">
            <span class="info">{{#active}}{{#lat}}{{time}} - {{/lat}}{{/active}}</span>
            <span class="name" title="{{name}}">{{name}}</span>
          </div>
          {{#is_store}}
            <a href="#" class="marker btn btn-inverse btn-xs pull-right"><i class="icon icon-map-marker"></i></a>
          {{/is_store}}
          {{^is_store}}
            <div class="btn-group pull-right">
              <a href="/destinations/{{id}}/edit" class="marker_edit btn btn-inverse btn-xs"><i class="icon icon-pencil"></i></a>
              {{#lat}}<a href="#" class="marker btn btn-inverse btn-xs"><i class="icon icon-map-marker"></i></a>{{/lat}}
            </div>
          {{/is_store}}
            <div class="clearfix"></div>
        </li>
        {{/destination}}
      {{/stops}}
      </ul>
    </div>
  {{/vehicle}}
</li>
{{/routes}}
</ol>
