<p>
  <strong>Name:</strong>
  {{name}}
  -
  {{#tags}}
    <span>{{label}}</span>
  {{/tags}}
  -
  {{distance}} km
  -
  {{emission}} kgCO<sub>2</sub>e
  -
  {{size}} stops
  <button type="button" class="btn btn-primary btn-small" id="optimize"><i class="icon-gears icon-fixed-width"></i> Optimize</button>
  <a href="/plannings/{{id}}" class="btn btn-primary btn-small"><i class="icon-print icon-fixed-width"></i> Export</a>
  {{#out_of_date}}<button type="button" class="btn btn-warning btn-small" id="refresh"><i class="icon-refresh icon-fixed-width"></i> Refresh</button>{{/out_of_date}}
</p>
<ol class="routes">
{{#routes}}
<li class="route" data-route_id="{{route_id}}"{{#vehicle}} style="border-left: 6px solid {{color}}"{{/vehicle}}>
  {{^vehicle}}
    Out of route
    {{size}} stops
    <button type="button" class="toggle btn btn-default btn-small"><i class="icon-eye-close icon-fixed-width"></i></button>
    <button type="button" class="lock btn btn-default btn-small"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>
    <ul id="out_of_road" class="sortable"{{#hidden}} style="display: none;"{{/hidden}}>
    {{#stops}}
      {{#destination}}
      <li data-destination_id="{{id}}" class="waypoint ui-state-error">
        {{#lat}}<a href="#" class="marker"><i class="icon-map-marker icon-fixed-width"></i></a>{{/lat}}
        <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}} style="display: none"/>
        {{name}}
        <!--<span>{{street}}, {{postalcode}} {{city}}</span>-->
      </li>
      {{/destination}}
    {{/stops}}
      <li class="placeholder">&nbsp;</li>
    </ul>
  {{/vehicle}}
  {{#vehicle}}
    <span>
      <select name="vehicle">
        {{#vehicles}}<option value="{{id}}">{{name}}</option>{{/vehicles}}
      </select>
      <a href="{{path}}"><i class="icon-truck icon-fixed-width"></i></a>
      <button type="button" class="optimize btn btn-primary btn-small"><i class="icon-gear icon-fixed-width"></i></button>
      <button type="button" class="toggle btn btn-default btn-small"><i class="icon-eye-close icon-fixed-width"></i></button>
      <button type="button" class="lock btn btn-default btn-small"><i class="icon-{{^locked}}un{{/locked}}lock icon-fixed-width"></i></button>
      <a href="/routes/{{route_id}}" class="btn btn-default btn-small"><i class="icon-print icon-fixed-width"></i></a>
      <br/>
      -
      {{distance}} km
      -
      {{emission}} kgCO<sub>2</sub>e
      -
      {{size}} stops
      -
      {{start}} {{end}}
    </span>
    <ol class="stops sortable"{{#hidden}} style="display: none;"{{/hidden}}>
    {{#stops}}
      {{#destination}}
      <li data-destination_id="{{id}}" class="{{type}}{{^lat}} ui-state-error{{/lat}}">
        <input type="checkbox"{{#active}} checked="checked"{{/active}} {{^lat}}disabled="disabled"{{/lat}}/>
        {{#lat}}<a href="#" class="marker"><i class="icon-map-marker icon-fixed-width"></i></a>{{/lat}}
        {{name}}
        {{#lat}}{{distance}} km{{/lat}}
        {{#lat}}{{time}}{{/lat}}
        <!--<span>{{street}}, {{postalcode}} {{city}}</span>-->
      </li>
      {{/destination}}
    {{/stops}}
      <li class="placeholder">&nbsp;</li>
    </ol>
  {{/vehicle}}
</li>
{{/routes}}
</ol>
