<div class="row">
  <%= image_tag "logo_mapotempo.svg", alt: "mapotempo", class: "mapotempo-logo" %>
</div>
<div class="row mapotempo-icons">
  <div class="col-md-offset-3 col-md-1 col-sm-offset-3 col-sm-1 col-xs-offset-3 col-xs-1">
    <span id="mapotempo-map"></span>
  </div>
  <div class="col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-1">
    <span id="mapotempo-car"></span>
  </div>
  <div class="col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-offset-1 col-xs-1">
    <span id="mapotempo-clock"></span>
  </div>
</div>
