<div class="form-group">
  <div class="col-md-2">
    <div class="pull-right">
      <label for="user_time_zone">
        <%= t 'customers.edit.time_zone' %>
      </label>
    </div>
  </div>
  <div class="col-md-6">
    <%= time_zone_select :user, :time_zone, ActiveSupport::TimeZone.all, {}, { class: :select2 } %>
  </div>
</div>
