<% if model.errors.any? %>
  <div class="alert alert-danger" data-error="true">
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
