<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= render 'form' %>

<div id="order_array" class="row">
  <div class="col-md-12">
  </div>
</div>

<%
controller.js(
  order_array_id: @order_array.id || 0,
  planning_id: params[:planning_id],
)
%>
