<div class="zone form-group">
  <input name="zoning[zones][][polygon]" type="hidden" value="{{polygon}}" />
  <span class="input-group">
    <select name="zoning[zones][][vehicles][][vehicle_id]" multiple="multiple" class="form-control input-sm">
      {{#vehicles}}
        <option value={{id}}{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
      {{/vehicles}}
    </select>
    <span class="input-group-addon input-sm"><i class="icon icon-truck"></i></span>
    <span class="input-group-btn">
      <button type="button" class="delete btn btn-danger btn-sm"><i class="icon icon-trash icon-fixed-width"></i></button>
    </span>
  </span>
</div>
