<div class="panel panel-default zone">
  <div class="panel-heading">
    <input name="zoning[zones_attributes][][id]" type="hidden" value="{{id}}" />
    <input name="zoning[zones_attributes][][polygon]" type="hidden" value="{{polygon}}" />
    <select name="zoning[zones_attributes][][vehicle_id]" class="vehicle_select select2-xs">
        <option value=""></option>
      {{#vehicles}}
        <option value="{{id}}"{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
      {{/vehicles}}
    </select>
    <button type="button" class="delete btn btn-danger btn-xs" title="{{#i18n}}all.verb.destroy{{/i18n}}"><i class="fa fa-trash-o fa-fw"></i></button>
  </div>
  <div class="panel-body">
    <span class="stop" style="display: none"><i class="fa fa-check-square fa-fw"></i> <span class="stop_number"></span> {{#i18n}}plannings.edit.stops{{/i18n}}</span>
    {{#show_capacity}}<span class="stop" style="display: none"><i class="fa fa-archive fa-fw"></i> <span class="quantity_number"></span>/<span class="capacity_number">{{capacity}}</span></span>{{/show_capacity}}
  </div>
</div>
