<div class="panel panel-default zone">
  <div class="panel-heading">
    <input name="zoning[zones][][polygon]" type="hidden" value="{{polygon}}" />
    <select name="zoning[zones][][vehicles][][vehicle_id]" multiple="multiple" class="vehicle_select">
      {{#vehicles}}
        <option value={{id}}{{#selected}} selected="selected"{{/selected}}>{{name}}</option>
      {{/vehicles}}
    </select>
    <button type="button" class="delete btn btn-danger btn-xs"><i class="icon icon-trash icon-fixed-width"></i></button>
  </div>
  <div class="panel-body">
    <span class="stop" style="display: none"><i class="icon icon-check-sign icon-fixed-width"></i> <span class="stop_number"></span> {{#i18n}}plannings.edit.stops{{/i18n}}</span>
  </div>
</div>
