<div class="dialog-progress">
  <p>{{#i18n}}destinations.index.dialog.geocoding.in_progress{{/i18n}}</p>
  <div class="progress progress-striped">
    <div class="progress-bar" style="width: 0%"></div>
  </div>
</div>
<p class="dialog-error" style="display: none">{{#i18n}}destinations.index.dialog.geocoding.error{{/i18n}}</p>
<p class="dialog-attempts" style="display: none">{{#i18n}}destinations.index.dialog.geocoding.attempts{{/i18n}} <span class="dialog-attempts-number"></span></p>
