<div class="dialog-progress">
  <div>
    <p>{{#i18n}}plannings.edit.dialog.optimizer.matrix{{/i18n}}</p>
    <div id="matrix" class="progress progress-striped">
      <div class="progress-bar" style="width: 0%"></div>
    </div>
  </div>
  <div>
    <p>{{#i18n}}plannings.edit.dialog.optimizer.optimize{{/i18n}}</p>
    <div id="optimize" class="progress progress-striped">
      <div class="progress-bar" style="width: 0%"></div>
    </div>
  </div>
  <div>
    <p>{{#i18n}}plannings.edit.dialog.optimizer.routes{{/i18n}}</p>
    <div id="routes" class="progress progress-striped">
      <div class="progress-bar" style="width: 0%"></div>
    </div>
  </div>
</div>
<p class="dialog-error" style="display: none">
  {{#i18n}}plannings.edit.dialog.optimizer.error{{/i18n}}
</p>
<p class="dialog-attempts" style="display: none">
  {{#i18n}}plannings.edit.dialog.optimizer.attempts{{/i18n}}
  <span class="dialog-attempts-number"></span>
</p>
