<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<%= render 'form' %>

<%
  routers = Router.all

  controller.js(
    admin: true,
    routers_options: Hash[routers.collect { |r| [r.id, r.options] }]
  )
%>
