<span style="font-size:16px;border-radius: 100%;padding-left: 8px;padding-right: 5px;padding-bottom: 5px;background-color: #E91E63;color:white;">▶</span>
<i style="margin-left:5px; font-size:11px;"> <%= t('user_mailer.features.adds.video') %> </i>
<ul style="margin-left:5px; font-size:11px;">
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=h9qhEEZKzBc" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.features.adds.zonage') %>
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/watch?v=ynFcGnznJcI" style="color: #13b0ca;text-decoration: underline !important;}">
      <%= t('user_mailer.features.adds.zonage_update') %>
    </a>
  </li>
</ul>
