<tr data-destination_id="{{id}}" class="destination{{#has_error}} has-error{{/has_error}}">
  <td>
    <input class="form-control input-sm" type="text" name="destination[ref]" value="{{ref}}" style="width:6em"/>
  </td>
  <td>
    <input class="form-control input-sm" type="text" name="destination[name]" value="{{name}}" size="99"/>
  </td>
  <td>
    <span class="block">
      <span>
        <input class="form-control input-sm" type="text" name="destination[street]" value="{{street}}" size="99"/>
      </span>
      <span>
        <input class="form-control input-sm" type="text" name="destination[detail]" value="{{detail}}" size="99"/>
      </span>
      <span style="width:4em">
        <input class="form-control input-sm" type="text" maxlength="7" width="7" name="destination[postalcode]" value="{{postalcode}}"/>
      </span>
      <span>
        <div class="input-group">
          <input class="form-control input-sm pointing" type="text" name="destination[city]" value="{{city}}" size="99"/>
          <span class="input-group-addon input-sm" title="{{#i18n}}destinations.form.locate_manually{{/i18n}}"><i class="fa fa-crosshairs"></i></span>
        </div>
      </span>
    </span>
  </td>
  <td>
    <input class="form-control input-sm" type="number" name="destination[quantity]" value="{{quantity}}" placeholder="1" style="width:6em"/>
  </td>
  <td>
    <input class="form-control input-sm" type="datetime" name="destination[take_over]" value="{{take_over}}" placeholder="{{take_over_default}}" style="width:6em"/>
  </td>
  <td>
    <span class="block">
      <span style="width:4em">
        <input class="form-control input-sm" type="datetime" maxlength="5" width="5" name="destination[open]" value="{{open}}"/>
      </span>
      <span style="width:4em">
        <input class="form-control input-sm" type="datetime" maxlength="5" width="5" name="destination[close]" value="{{close}}"/>
      </span>
    </span>
  </td>
  <td>
    <input class="form-control input-sm" type="text" name="destination[comment]" value="{{comment}}" size="99"/>
  </td>
  <td>
    <div class="input-group input-group-tags">
      <input type="hidden" value="" name="destination[tag_ids][]">
      <select multiple="multiple" name="destination[tag_ids][]">
        {{#tags}}
          <option value="{{id}}" {{#active}} selected="selected"{{/active}}{{#color}} data-color="{{color}}"{{/color}}{{#icon}} data-icon="{{icon}}"{{/icon}}>{{label}}</option>
        {{/tags}}
      </select>
      <span class="input-group-addon input-sm"><i class="fa fa-tags"></i></span>
    </div>
  </td>
  <td>
    {{#geocoding_accuracy}}
      <input class="form-control input-sm" type="hidden" value="{{geocoding_accuracy}}"/>
        <div class="progress" style="width:6em">
          <div class="progress-bar progress-bar-{{geocoding_status}}" style="width: {{geocoding_accuracy_percent}}%;">
            <span>{{geocoding_accuracy_percent}}%</span>
          </div>
        </div>
    {{/geocoding_accuracy}}
    {{^geocoding_accuracy}}
      <input class="form-control input-sm" type="hidden" value="101"/>
    {{/geocoding_accuracy}}
  </td>
  <td>
    <input type="hidden" name="destination[lat]" value="{{lat}}" />
    <input type="hidden" name="destination[lng]" value="{{lng}}" />
    <button type="button" class="destroy btn btn-danger btn-xs" title="{{#i18n}}all.verb.destroy{{/i18n}}"><i class="fa fa-trash-o fa-fw"></i></button>
  </td>
</tr>
