<tr data-destination_id="{{id}}" class="destination form-inline{{^lat}} ui-state-error{{/lat}}">
  <td><input class="form-control input-sm" type="text" name="destination[name]" value="{{name}}"/></td>
  <td>
    <span class="block">
      <span>
        <input class="form-control input-sm" type="text" name="destination[street]" value="{{street}}"/>
      </span>
      <span style="width:4em">
        <input class="form-control input-sm" type="text" maxlength="7" width="7" name="destination[postalcode]" value="{{postalcode}}"/>
      </span>
      <span>
        <div class="input-group">
          <input class="form-control input-sm" type="text" name="destination[city]" value="{{city}}"/>
          <span class="input-group-addon input-sm pointing"><i class="icon-screenshot"></i></span>
        </div>
      </span>
    </span>
  </td>
  <td>
    <input class="form-control input-sm" type="integer" name="destination[quantity]" value="{{quantity}}"/>
  </td>
  <td>
    <span class="block">
      <span>
        <input class="form-control input-sm" type="datetime" name="destination[open]" value="{{open}}"/>
      </span>
      <span>
        <input class="form-control input-sm" type="datetime" name="destination[close]" value="{{close}}"/>
      </span>
    </span>
  </td>
  <td>
   <div class="input-group input-group-tags">
     <select multiple="multiple" name="tags[]">{{#tags}}<option value="{{id}}" {{#active}} selected="selected"{{/active}}>{{label}}</option>{{/tags}}</select>
     <span class="input-group-addon input-sm"><i class="icon-tags"></i></span>
   </div>
  </td>
  <td>
    <input type="hidden" name="destination[lat]" value="{{lat}}" />
    <input type="hidden" name="destination[lng]" value="{{lng}}" />
    <button type="button" class="destroy btn btn-danger btn-xs" title="{{#i18n}}all.verb.destroy{{/i18n}}"><i class="icon icon-trash icon-fixed-width"></i></button>
  </td>
</tr>
