<tr data-destination_id="{{id}}" class="destination{{#has_no_position}} has-error{{/has_no_position}}">
  <td>
    <input id="destination_{{id}}" type="checkbox" value="1" name="destinations[{{id}}]"/>
  </td>
  {{#enable_references}}
  {{^enable_multi_visits}}
    <td class="ref">
      <span class="form-control input-sm">{{ref}}</span>
    </td>
  {{/enable_multi_visits}}
  {{/enable_references}}
  <td class="name">
    <span class="form-control input-sm">{{name}}</span>
  </td>
  <td class="address">
    <span class="block">
      <span style="width:9em">
        <span class="form-control input-sm">{{street}}</span>
      </span>
      <span style="width:3em">
        <span class="form-control input-sm">{{detail}}</span>
      </span>
      <span style="width:3.5em">
        <span class="form-control input-sm">{{postalcode}}</span>
      </span>
      <span>
        <span class="form-control input-sm">{{city}}</span>
      </span>
    </span>
  </td>
  <td class="country">
    <span>
      <span class="form-control input-sm">{{country}}</span>
    </span>
  </td>
  <td class="comment">
    <span class="form-control input-sm">{{comment}}</span>
  </td>
  <td class="phone">
    <span class="form-control input-sm">{{phone_number}}</span>
  </td>
  {{^enable_multi_visits}}
    <td class="tags">
      {{#tags}}
        {{#active}}
          <span class="form-control input-sm">
            {{#color}}{{#icon}}<img src="/images/{{icon}}-{{color}}.svg" />{{/icon}}{{/color}}
            {{^color}}{{#icon}}<img src="/images/{{icon}}.svg" />{{/icon}}{{/color}}
            {{#color}}{{^icon}}<i style="color:#{{color}}" class="fa fa-flag" ></i>{{/icon}}{{/color}}
            {{label}}
          </span>
        {{/active}}
      {{/tags}}
    </td>
  {{/enable_multi_visits}}
  <td class="geocoding">
    <div class="block destination-geocoding">
      <span class="geocoding_level" title="{{geocoding_level_title}}">
        <input type="hidden" name="destination[geocoding_level]" value="{{geocoding_level}}">
        {{#geocoding_level}}
          {{#geocoding_level_point}}
            <i class="fa fa-map-marker fa-fw geocoding-level"></i>
          {{/geocoding_level_point}}
          {{#geocoding_level_house}}
            <i class="fa fa-home fa-fw geocoding-level"></i>
          {{/geocoding_level_house}}
          {{#geocoding_level_street}}
            <i class="fa fa-road fa-fw geocoding-level"></i>
          {{/geocoding_level_street}}
          {{#geocoding_level_intersection}}
            <i class="fa fa-times fa-fw geocoding-level"></i>
          {{/geocoding_level_intersection}}
          {{#geocoding_level_city}}
            <i class="fa fa-exclamation-triangle fa-fw geocoding-level"></i>
          {{/geocoding_level_city}}
        {{/geocoding_level}}
      </span>
      <span>
        {{#geocoding_accuracy}}
          <input name="destination[geocoding_accuracy]" class="form-control input-sm" type="hidden" value="{{geocoding_accuracy}}"/>
            <div class="progress" style="width:5em">
              <div class="progress-bar progress-bar-{{geocoding_status}}" style="width: {{geocoding_accuracy_percent}}%;">
                <span>{{geocoding_accuracy_percent}}%</span>
              </div>
            </div>
        {{/geocoding_accuracy}}
        {{^geocoding_accuracy}}
          <input class="form-control input-sm" type="hidden" value="101"/>
        {{/geocoding_accuracy}}
      <span>
      {{#has_no_position}}
        <span class="no_position">{{#i18n}}destinations.index.geocoding_empty{{/i18n}}</span>
      {{/has_no_position}}
    </div>
  </td>
  <td class="visit">
    <div class="destination-visits">
      {{#visits}}
        <div data-visit_id="{{id}}" class="block" role="visit">
          <input type="hidden" name="destination[visits_attributes][][id]" value="{{id}}"/>
          {{#enable_references}}
          {{#enable_multi_visits}}
            <span style="min-width:3em">
              <span class="form-control input-sm">{{ref_visit}}</span>
            </span>
          {{/enable_multi_visits}}
          {{/enable_references}}
          {{^enable_orders}}
          <span style="width:3em">
            <span class="form-control input-sm">{{quantity1_1}}</span>
          </span>
          {{/enable_orders}}
          {{#enable_multi_visits}}
            <span class="form-control input-sm">
              {{#tags_visit}}
                {{#active}}
                  <span>
                    {{#color}}{{#icon}}<img src="/images/{{icon}}-{{color}}.svg" />{{/icon}}{{/color}}
                    {{^color}}{{#icon}}<img src="/images/{{icon}}.svg" />{{/icon}}{{/color}}
                    {{#color}}{{^icon}}<i style="color:#{{color}}" class="fa fa-flag" ></i>{{/icon}}{{/color}}
                    {{label}}
                  </span>
                {{/active}}
              {{/tags_visit}}
            </span>
          {{/enable_multi_visits}}
          <span style="width:4em">
            <span class="form-control input-sm">{{take_over}}</span>
          </span>
          <span style="width:3em">
            <span class="form-control input-sm">{{open1}}</span>
          </span>
          <span style="width:3em">
            <span class="form-control input-sm">{{close1}}</span>
          </span>
          <span style="width:3em">
            <span class="form-control input-sm">{{open2}}</span>
          </span>
          <span style="width:3em">
            <span class="form-control input-sm">{{close2}}</span>
          </span>
        </div>
      {{/visits}}
    </div>
  </td>
  <td>
    <div class="destination-buttons">
      <a href="destinations/{{id}}/edit" class="btn btn-primary btn-xs" title="{{#i18n}}all.verb.edit{{/i18n}}"><i class="fa fa-pencil fa-fw"></i></a>
      <button type="button" class="destroy btn btn-danger btn-xs" title="{{#i18n}}all.verb.destroy{{/i18n}}"><i class="fa fa-trash-o fa-fw"></i></button>
    </div>
  </td>
</tr>

