<% content_for :title, t('.title') %>
<h1><%= t '.title' %></h1>

<% if current_user.customer.too_many_vehicle_usage_sets? %>
  <div class="alert alert-warning" data-error="true">
    <ul>
      <p><%= t 'vehicle_usage_sets.index.over_max_limit', limit: current_user.customer.default_max_vehicle_usage_sets %></p>
    </ul>
  </div>
<% else %>
  <%= render 'form' %>
<% end %>
