<div class="stop-popup"{{#route_id}} data-route_id="{{route_id}}" data-stop_id="{{stop_id}}"{{/route_id}}>
  {{#close_popup}}
    <a class="close-popover pull-right">
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
  {{/close_popup}}
{{#route_id}}
<div{{#planning_id}}{{^store}}{{^vehicle_name}} class="ui-state-error"{{/vehicle_name}}{{/store}}{{/planning_id}}>
  {{#planning_id}}
  {{^store}}
  {{#manage_organize}}
  <span class="dropdown route-select">
  <span class="dropdown-toggle" data-toggle="dropdown" title="{{#i18n}}plannings.edit.send_to_route_help{{/i18n}}">
  {{/manage_organize}}
  {{/store}}
  {{/planning_id}}
  {{#vehicle_name}}{{vehicle_name}}{{/vehicle_name}}
  {{^vehicle_name}}{{#i18n}}plannings.edit.out_of_route{{/i18n}}{{/vehicle_name}}
  {{#planning_id}}
  {{^store}}
  {{#manage_organize}}
  <span class="caret"></span>
  </span>
  <ul class="dropdown-menu" role="menu">
    {{#vehicle_name}}
      <li><a href="/plannings/{{planning_id}}/{{out_of_route_id}}/{{stop_id}}/move/-1.json" class="send_to_route">{{#i18n}}plannings.edit.out_of_route{{/i18n}}</a></li>
    {{/vehicle_name}}
    {{#routes}}
      {{#vehicle_usage_id}}
        <li><a href="/plannings/{{planning_id}}/{{route_id}}/{{stop_id}}/move.json" class="send_to_route"><div class="color_small" style="background:{{color}}"></div> {{name}}</a></li>
      {{/vehicle_usage_id}}
    {{/routes}}
  </ul>
  </span>
  <div class="btn-group pull-right stop-tools">
    {{#automatic_insert}}
    <button class="automatic_insert btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.automatic_insert_help{{/i18n}}"><i class="fa fa-lightbulb-o"></i></button>
    {{/automatic_insert}}
  </div>
  {{/manage_organize}}
  {{/store}}
  {{/planning_id}}
</div>
<hr>
{{/route_id}}
<div>
  <div class="btn-group pull-right stop-tools">
    {{#store}}{{#manage_store}}
    <a href="/stores/{{id}}/edit?back=true" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
    {{/manage_store}}{{/store}}
    {{#destination}}{{#manage_destination}}
    <a href="/destinations/{{destination_id}}/edit?back=true#collapseVisit{{visit_id}}" class="marker_edit btn btn-inverse btn-xs" title="{{#i18n}}plannings.edit.edit_visit_help{{/i18n}}"><i class="fa fa-pencil"></i></a>
    {{/manage_destination}}{{/destination}}
    {{#isoline}}
      <button type="button" class="btn btn-xs btn-default dropdown-toggle draw_zone" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-magic"></i> <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        {{#isochrone}}
        <li><a data-toggle="modal" data-target="#isochrone-modal" data-keyboard="true" href="#"><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}zonings.form.isochrone{{/i18n}}</a></li>
        {{/isochrone}}
        {{#isodistance}}
        <li><a data-toggle="modal" data-target="#isodistance-modal" data-keyboard="true" href="#"><i class="fa fa-road fa-fw"></i> {{#i18n}}zonings.form.isodistance{{/i18n}}</a></li>
        {{/isodistance}}
      </ul>
    {{/isoline}}
  </div>
  {{^store}}{{#color}}<span class="number label label-default" style="background-color: {{color}};">{{#number}}{{number}}{{/number}}{{^number}}-{{/number}}</span>{{/color}}{{/store}}
  {{#manage_organize}}{{#vehicle_name}}{{^store}}<input type="checkbox" class="stop_active"{{#active}} checked="checked"{{/active}} title="{{#i18n}}plannings.edit.active_help{{/i18n}}"/>{{/store}}{{/vehicle_name}}{{/manage_organize}}
  <b>{{#ref}}{{^visits}}{{ref}} {{/visits}}{{/ref}}{{name}}</b><br/>
  {{#street}}{{street}}<br/>{{/street}}
  {{#detail}}
    {{detail}}<br/>
  {{/detail}}
  {{postalcode}} {{city}} {{country}}
  {{#phone_number}}
    <br/><i class="fa fa-phone fa-fw"></i><a class="phone_number" target="click2call_iframe" href={{phone_number}}>{{phone_number}}</a>
  {{/phone_number}}
  {{#comment}}
    <p class="wrapped-text">{{comment}}</p>
  {{/comment}}
</div>
{{^store}}
<div class="visits">
{{#visits}}
<hr>
{{#index_visit}}
{{#i18n}}plannings.edit.popup.visit{{/i18n}} #{{index_visit}}
{{/index_visit}}
{{#ref}}<b>{{ref}}</b>{{/ref}}
<ul>
  {{#open_close1}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.open_close1{{/i18n}}
      {{open1}}{{#open1_day}}&nbsp;(J+{{open1_day}}){{/open1_day}} {{^close1}}({{#i18n}}plannings.edit.popup.open1{{/i18n}}){{/close1}}
      {{#open1}}{{#close1}}-{{/close1}}{{/open1}}
      {{close1}}{{#close1_day}}&nbsp;(J+{{close1_day}}){{/close1_day}} {{^open1}}({{#i18n}}plannings.edit.popup.close1{{/i18n}}){{/open1}}
    </li>
  {{/open_close1}}
  {{#open_close2}}
    <li><i class="fa fa-sort fa-rotate-90 fa-fw"></i> {{#i18n}}plannings.edit.popup.open_close2{{/i18n}}
      {{open2}}{{#open2_day}}&nbsp;(J+{{open2_day}}){{/open2_day}} {{^close2}}({{#i18n}}plannings.edit.popup.open2{{/i18n}}){{/close2}}
      {{#open2}}{{#close2}}-{{/close2}}{{/open2}}
      {{close2}}{{#close2_day}}&nbsp;(J+{{close2_day}}){{/close2_day}} {{^open2}}({{#i18n}}plannings.edit.popup.close2{{/i18n}}){{/open2}}
    </li>
  {{/open_close2}}
  {{#tomtom}}
  <li class="toggle-status"{{^status}} style="display: none;"{{/status}}><i class="fa fa-check fa-fw"></i> {{#i18n}}plannings.edit.popup.status{{/i18n}} <span class="stop-status{{#status}} stop-status-{{status_code}}{{/status}}" title="{{status}}{{#eta_formated}} - {{#i18n}}plannings.edit.popup.eta{{/i18n}} {{eta_formated}}{{/eta_formated}}"></span><span class="status">{{status}}</span></li>
  <li class="toggle-status"{{^eta_formated}} style="display: none;"{{/eta_formated}}><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.popup.eta{{/i18n}} <span class="eta">{{eta_formated}}</span></li>
  {{/tomtom}}
  {{#time}}<li><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.popup.time{{/i18n}} {{time}}{{#time_day}}&nbsp;(J+{{time_day}}){{/time_day}}</li>{{/time}}
  {{#wait_time}}<li><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.wait{{/i18n}} {{wait_time}}</li>{{/wait_time}}
  {{#duration}}<li><i class="fa fa-clock-o fa-fw"></i> {{#i18n}}plannings.edit.popup.duration{{/i18n}} {{duration}}</li>{{/duration}}
  {{#quantities}}
    <li><i class="fa {{unit_icon}} fa-fw"></i> {{unit_label}} {{quantity}}</li>
  {{/quantities}}
  {{#orders}}<li><i class="fa fa-cube fa-fw"></i> {{#i18n}}plannings.edit.popup.orders{{/i18n}} {{orders}}</li>{{/orders}}
  {{#tags_present}}<li><i class="fa fa-tag fa-fw"></i> {{#i18n}}plannings.edit.popup.tags{{/i18n}} {{#tags}}{{label}} {{/tags}}</li>{{/tags_present}}
</ul>
{{#error}}
  <ul class="ui-state-error">
    {{#out_of_window}}
      <li><i class="fa fa-clock-o fa-fw" title="{{#i18n}}plannings.edit.error.out_of_window_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_window{{/i18n}}</li>
    {{/out_of_window}}
    {{#out_of_capacity}}
      <li><i class="fa fa-archive fa-fw" title="{{#i18n}}plannings.edit.error.out_of_capacity_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_capacity{{/i18n}}</li>
    {{/out_of_capacity}}
    {{#out_of_drive_time}}
      <li><i class="fa fa-power-off fa-fw" title="{{#i18n}}plannings.edit.error.out_of_drive_time_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.out_of_drive_time{{/i18n}}</li>
    {{/out_of_drive_time}}
    {{#no_path}}
      <li><i class="fa fa-road fa-fw" title="{{#i18n}}plannings.edit.error.no_path_help{{/i18n}}"></i> {{#i18n}}plannings.edit.error.no_path{{/i18n}}</li>
    {{/no_path}}
  </ul>
{{/error}}
{{/visits}}
{{^visits}}
<ul>
  {{#tags_present}}<li><i class="fa fa-tag fa-fw"></i> {{#i18n}}plannings.edit.popup.tags{{/i18n}} {{#tags}}{{label}} {{/tags}}</li>{{/tags_present}}
</ul>
{{/visits}}
</div>
{{/store}}
</div>
