<%= form_tag({action:'move_store'}, {class:"form-horizontal"}) do %>
  <div class="row">
    <div class="col-lg-offset-2">
      <%= submit_tag nil, class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
