// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller='customers'] {
  #map {
    min-height: 400px;
    width: 100%;
  }
  .disabled {
    color: #ccc;
  }

  .router-option-disabled {
    display: none;
  }

  #users {
    @media screen and (max-width: 767px) {
      tr th:nth-of-type(2), tr td:nth-of-type(2),
      tr th:nth-of-type(3), tr td:nth-of-type(3),
      tr th:nth-of-type(4), tr td:nth-of-type(4) {
        display: none;
      }
    }
  }

  .panel-heading .accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";
    float: right;
    color: grey;
  }
  .panel-heading .accordion-toggle.collapsed:after {
    content: "\f054";
  }
}
