// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_destination {

  .select2-container.form-control {

    padding: 0;
  }

  .select2-container-multi .select2-choices {

    height: 100% !important;
    border-width: 0;
  }
}


#destination_box {
  height: 300px;
  overflow-y: scroll;
  margin-top: 20px;

  .table thead > tr > th,
  .table tbody > tr > th,
  .table tfoot > tr > th {

    line-height: 15px;
  }
  
  .table thead > tr > td,
  .table tbody > tr > td,
  .table tfoot > tr > td {

    line-height: 9px;
    padding: 0;
  }
  
  .input-group-tags {
  
    margin-right: 4px;
    width: 150px;
    height: 25px;
    line-height: auto;
  }
  
  .select2-container-multi .select2-choices {
  
    min-height: 25px;
  }
  
  .destroy {
  
    border: none;
  }

  .destination .block {
    display: table;
    table-layout: fixed;

    > span {
      display: table-cell;
    }

    > span:not(:last-child) input {
      border-radius: 0 0 0 0;
      border-right: 0;
    }

    > span:first-child input {
      border-radius: 3px 0 0 3px;
    }

    > span:last-child input {
      border-radius: 0 3px 3px 0;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none
}

