// Copyright © Mapotempo, 2013-2016
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


[data-controller='destinations'] {

  .accordion-toggle > span:before {
    content: "▾ ";
  }
  .accordion-toggle.collapsed > span:before {
    content: "▸ ";
  }
  #visit-new {
    margin-bottom: 20px;
  }
  #visit-fieldset-template {
    display: none;
  }

  #columnSelector li {
    label {
      margin-left: 1em;
    }

    input {
      margin-right: 0.3em;
    }
  }

  #geocoding_accuracy, #no_geocoding_accuracy, #geocoding_level {
    display: table-cell;
    padding-right: 5px;
    vertical-align: top;
  }
  #geocoding_accuracy {
    width: 66%;
    padding-top: 5px;
  }
  #geocoding-level {
    width: 33%;
  }
  #geocoding-level span {
    line-height: 1;
  }

  #no_geocoding_accuracy, #geocoding_level {
    padding-top: 7px;
  }

  #geocoding_fail {
    padding-top: 7px;
    color: red;
    font-weight: bold;
  }

  .progress {
    margin-bottom: 0px;
  }

  #destination_box {
    height: 320px;
    overflow-y: scroll;

    .col-md-12 {
      padding: 0;
    }

    table th {
      line-height: 15px;
      padding: 0;
    }

    table td {
      line-height: 9px;
      padding: 0;
    }

    .tablesorter-header-inner {
      padding: 0px;

      .index_toggle_selection {
        padding: 0px;
        margin: 0px 0px 2px 0px;
      }
    }

    .tablesorter-header-inner:after {
      float: inherit;
    }

    .col-title {
      margin: 5px 2px;
      display: inline-block;
    }

    #visit-subtitles {
      display: table;
    }
    .visit-subtitle {
      display: table-cell;
    }

    .tablesorter-headerRow {
      th:nth-of-type(1) {
        padding-left: 0px;
        padding-right: 0px;

        div {
          padding: 0px;
        }
        .tablesorter-icon {
          display: none;
        }
      }
    }

    .tablesorter-filter-row {
      .tablesorter-filter {
        width: 100%;
      }

      td input.disabled {
        display: none;
      }
    }

    td:nth-of-type(1) {
      text-align: center;
      margin: auto;
      width: 1em;
    }
    th.ref, td.ref {
      min-width: 3.5em;
    }
    th.name, td.name {
      min-width: 6em;
      input {
        background: none;
      }
    }
    th.address, td.address {
      min-width: 19em;
    }
    th.country, td.country {
      min-width: 4em;
    }
    th.comment, td.comment {
      min-width: 7em;
    }
    th.phone, td.phone {
      min-width: 4em;
      max-width: 10em;
    }
    .input-group-tags {
      width: 10em;
    }
    th.geocoding, td.geocoding {
      width: 6em;
    }

    span.form-control {
      overflow: hidden;
      word-break: break-all;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      border: 0px;
    }

    .select2-container {
      .select2-selection {
        background-color: inherit;
        min-height: 25px;

        .select2-selection__rendered {
          .select2-search__field {
            height: 23px;
          }

          .select2-selection__choice {
            height: 18px;
            margin-top: 2px;
          }
        }
      }
      .select2-selection--multiple:before {
        z-index: -1;
      }
    }

    .destination-geocoding, .destination-buttons {
      white-space: nowrap;
      margin: 2px;
    }
    .destination-buttons .btn {
      border: none;
    }

    .destination {
      .form-control.input-sm {
        padding: 3px;
      }

      .block {
        display: table;
        table-layout: fixed;

        > span {
          display: table-cell;
          vertical-align: top;
        }

        > span:not(:first-child) input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        > span:not(:last-child) input:last-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        > span + span input {
          border-left: 0;
        }

        .geocoding_level {
          width: 30px;
          padding-top: 4px;
        }

        .no_position {
          padding-top: 7px;
          display: inline-block;
          margin-left: -20px;
          color: red;
          font-weight: bold;
        }
      }
    }

    .highlight td {
      background-color: rgba(255, 187, 0, 0.5);
    }
  }

  .map-container {
    padding: 0;

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    #map {
      position: absolute;
      top: 501px;
      bottom: 0;
      min-height: 250px;
      width: 100%;
    }
  }

  &[data-action='import'], &[data-action='upload_csv'] {
    #columns-table {
      margin: 5px;

      .column-heading td, .column-desc td {
        padding-bottom: 5px;
      }

      h5 {
        background-color: #f5f5f5;
        padding: 5px;
      }

      .column {
        td:first-child {
          min-width: 180px;
        }

        a.column-edit {
          color: #333;
          cursor: pointer;
        }
        .column-def {
          border: 1px solid #bbb; // important for firefox
          width: 160px;
          height: 18px;
          line-height: 18px;
          padding: 0 3px;
        }
      }
    }
  }
}

.ui-helper-hidden-accessible {
  display: none
}

@media (min-width: 768px) { .map-container { max-width: 750px; } }
@media (min-width: 992px) { .map-container { max-width: 970px; } }
@media (min-width: 1200px) { .map-container { max-width: 1170px; } }
