// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#destination_box {
  height: 300px;
  overflow-y: scroll;
  margin-top: 20px;

  .destination .block {
    display: table;
    table-layout: fixed;

    > span {
      display: table-cell;
    }

    > span:not(:last-child) input {
      border-radius: 0 0 0 0;
      border-right: 0;
    }

    > span:first-child input {
      border-radius: 3px 0 0 3px;
    }

    > span:last-child input {
      border-radius: 0 3px 3px 0;
    }
  }
}

.ui-helper-hidden-accessible {
  display: none
}

