// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the Plannings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller='order_arrays'][data-action='edit'] {
  #order_array td {
    padding: 0;

    ul {
      background: transparent;
    }
  }

  thead.no_vehicle {
    .tablesorter-filter-row {
      td:nth-of-type(2) input {
        width: 15em;
      }

      td:nth-of-type(3) input {
        width: 10em;
      }
    }
  }

  thead.vehicle {
    .tablesorter-filter-row {
      td:nth-of-type(4) input {
        width: 15em;
      }

      td:nth-of-type(5) input {
        width: 10em;
      }
    }
  }

  thead {
    .tablesorter-header-inner:after {
      display: none;
    }

    th.order {
      .tablesorter-header-inner {
        padding: 0px;
      }

      .btn-group {
        float: right;
        padding: 0px;

        .btn-default {
          background: inherit;
          border-width: 0;
        }
      }
    }

    .th-number {
      max-width: 3em;

      div {
        white-space: nowrap;
        transform: rotate(90deg);
      }
    }
  }

  tbody {
    th:nth-of-type(1) {
      padding: 0px;

      .btn-default {
        background: inherit;
        border-width: 0;
      }
    }

    th:nth-of-type(2) {
      padding: 6px;
    }

    th.name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 15em;
    }

    th.vehicle, td.comment {
      font-size: 75%;
    }

    .select2-container .select2-selection {
      background-color: inherit;
      border-radius: 0;
    }
  }

  tfoot {
    td.comment {
      font-size: 75%;
    }
  }

  .number {
    text-align: right;
  }
}

[data-controller='order_arrays'][data-action='index'] {
  @media screen and (max-width: 767px) {
    #order_arrays {
      tr th:nth-of-type(3), tr td:nth-of-type(3),
      tr th:nth-of-type(4), tr td:nth-of-type(4) {
        display: none;
      }
    }
  }
}
