// Place all the styles related to the Plannings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// = require leaflet
// = require leaflet.ie
// = require leaflet_numbered_markers
// = require leaflet.markercluster
// = require leaflet.markercluster.default
// = require leaflet.markercluster.default.ie

.routes {
  padding: 0px;
  margin: 0px;

  .route {
    list-style-type: none;
    margin-bottom: 1em;

    .sortable {
      min-height: 10px;
    }

    .icon-resize-horizontal {
      display: none;
    }

    .vehicle_select {
      width: 170px;
      vertical-align: middle;
    }

    .stops {
      position:relative;
      cursor: default;
      margin-top: 0px;

      li {
        line-height: 26px;
        padding: 2px 2px 2px 6px;

        .icon-reorder {
          color: #ccc;
        }

        .icon-reorder:hover {
          cursor: move;
        }

        .label {
          display: inline-block;
          margin-right: 4px;
          width: 24px;
          font-weight: 700;
        }

        .label-empty {
          visibility: hidden;
        }

        .caption {
          display: inline-block;
          line-height: 14px;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 175px;
          display: inline-block;

          .name {
            font-weight: bold;
          }

          .info {
            color: #777;
          }
        }

        .btn-inverse {
          border-color: #ccc;
          .icon {
            color: #333;
          }
        }

        .btn-inverse:hover,
        .btn-inverse:focus,
        .btn-inverse.active {
          background-color: #efefef;
          .icon {
            color: #333;
          }
        }
      }
    }
  }
}

.leaflet-marker-icon .number {
  background: none;
  right: -1px;
  top: 3px;
  color: #fff;
}

.box-extended {
  .box-wrapper {
    width: auto;
    left: 20px;

    .box {
      white-space: nowrap;

      h1,
      form,
      .btn {
        display: none;
      }

      .btn.extend,
      .btn.toggle {
        display: inline-block;
      }

      .icon-resize-horizontal {
        display: inline-block;
        cursor: move;
      }

      .routes {
        .route {
          display: inline-block;
          vertical-align: top;
          margin: 2px;

          .stops {
            margin-top: 0;
            li {
              line-height: 26px;
              padding: 2px 2px 2px 6px;
            }
          }
        }
      }
    }
  }
}
