// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

[data-controller='routes'][data-action='show'],
[data-controller='plannings'][data-action='show'],
[data-controller='api_web_v01_routes'][data-action='print'],
[data-controller='api_web_v01_plannings'][data-action='print'] {
  @media print {
    .btn-print {
      display: none;
    }

    .route-print {
      word-wrap: break-word;
      page-break-after: always;

      &:last-of-type {
        page-break-after: avoid !important;
      }
    }

    li.list-group-item {
      page-break-inside: avoid;
    }

    .container {
      padding: 0 !important;
    }
  }

  @media screen {
    .btn-print {
      position: fixed;
      right: 20px;
      top: 60px;
      cursor: pointer;
      z-index: 100;
    }
  }

  ol.routes-print {
    padding: 0;
    position: relative;
  }
  .route-print {
    list-style: none;
    width: 100%;

    > h1 {
      text-align: center;
    }
    iframe {
      width: 100%;
      border: 0;
      height: 15cm;
      background-color: #ddd;

      @media print {
        width: 20cm;
      }

      @media print and (-webkit-min-device-pixel-ratio:0) {
        width: 100%;
      }
    }

    > ol {
      padding: 0;

      li {
        padding: 0;

        &:nth-child(odd) {
          background: lightgray !important;
          -webkit-print-color-adjust: exact;
        }

        &.store,
        &.stop {
          padding-left: 5px;
        }
      }

      .number {
        background: #111 !important;
        padding: 0 6px;
        border: 1px solid #222;
        border-radius: 20px;
        color: white !important;
        -webkit-print-color-adjust: exact;
      }

      .number, .name {
        font-size: 150%;
        font-weight: bold;
      }

      .title {
        .window {
          display: block;
        }
      }

      .ref {
        font-weight: bold;
      }

      .quantity {
        font-weight: bold;
      }

      .comment {
        font-style: italic;
      }

      .annotating .signature {
        height: 4em;
      }

      .service-time {
        border-left: 5px solid #003880;
        padding: 3px 5px;
      }
    }

    .row.errors {
      margin: 5px;
    }
  }

  .route-info {
    white-space: nowrap;
  }

  .global_info {
    span {
      white-space: nowrap;
    }
  }
}
