// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media print {
  .route-print {
    page-break-after: always;
  }
  .route-print:last-of-type {
    page-break-after: avoid !important;
  }
  li.list-group-item {
    page-break-inside: avoid;
  }

  [data-controller='plannings'].container {
    padding: 0px;
  }
}

ol.routes-print {
  padding: 0px;
  position: relative;
}
.route-print {
  position: relative;
  list-style: none;

  > h1 {
    text-align: center;
  }
  > ol {
    padding: 0px;

    li {
      padding: 0px;
    }
    li:nth-child(odd) {
      background: lightgray !important;
      -webkit-print-color-adjust: exact;
    }
    li.store, li.stop {
      padding-left: 5px;
    }
    .number {
      background: #111 !important;
      padding: 0px 6px;
      border: 1px solid #222;
      border-radius: 20px;
      color: white !important;
      -webkit-print-color-adjust: exact;
    }
    .number, .name {
      font-size: 150%;
      font-weight: bold;
    }
    .title {
      .window {
        display: block;
      }
    }
    .ref {
      font-weight: bold;
    }
    .quantity {
      font-weight: bold;
    }
    .comment {
      font-style: italic;
    }

    .annotating .signature {
      height: 4em;
    }

    .service-time {
      border-left: 5px solid #003880;
      padding: 3px 5px;
    }
  }
}

.route-info {
  white-space: nowrap;
}

.global_info {
  span {
    white-space: nowrap;
  }
}
