// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
@font-face {
    font-family: 'mapotempo';
    src: url(font_path('mapotempo-webfont.eot'));
    src: url(font_path('mapotempo-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font_path('mapotempo-webfont.woff')) format('woff'),
         url(font_path('mapotempo-webfont.ttf')) format('truetype'),
         url(font_path('mapotempo-webfont.svg') + '#mapotempo') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
    li {
      list-style: square;
    }
  }
}

.btn-danger {
  color: #fff !important;
}

label {
  text-align: right;
}

.navbar-brand {
  padding: 5px;
}

[data-controller='plannings'][data-action='edit'],
[data-controller='plannings'][data-action='update'],
[data-controller='zonings'][data-action='edit'],
[data-controller='zonings'][data-action='update'] {
  #map {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .box-wrapper {
    width: 350px;
    position: fixed;
    right: 20px;
    top: 70px;
    bottom: 30px;

    .box {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      overflow: auto;
      background-color: #fff;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

      .form-horizontal .form-group {
        margin-left: -10px;
        margin-right: -10px;
      }
    }

    .panel {
      .panel-heading {
        padding: 2px 5px;
      }
    }
  }

  .map-active-area {
    position: fixed;
    bottom: 0px;
    right: 370px;
    top: 51px;
    left: 0px;
  }

  .flash {
    left: 56px;
    position: fixed;
    right: 390px;
  }
}
