// Copyright © Mapotempo, 2013-2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
@font-face {
    font-family: 'mapotempo';
    src: url(font_path('mapotempo-webfont.eot'));
    src: url(font_path('mapotempo-webfont.eot') + '?#iefix') format('embedded-opentype'),
         url(font_path('mapotempo-webfont.woff')) format('woff'),
         url(font_path('mapotempo-webfont.ttf')) format('truetype'),
         url(font_path('mapotempo-webfont.svg') + '#mapotempo') format('svg');
    font-weight: normal;
    font-style: normal;
}

$navbar-height: 50px;
$sidebar-width: 350px;
$sidebar-margins: 10px;
$focus-background-color: #89C53F;
$focus-font-color: white;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;

  .footer-message {
    z-index: 1000;
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    bottom: 0px;
    width: 100%;
    padding: 10px;

    a {
      cursor: pointer;
    }
  }
}

// Ultra minimal support of languages written from right to left
body:lang(he), body:lang(ar) {
  input, select {
    direction: rtl;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.wrapped-text {
  white-space: pre-wrap;
}

#notice {
  color: green;
}

.default-color {
  color: grey;
}

.row-top .btn {
  margin-bottom: 10px;
}

.btn-danger {
  color: #fff !important;
}

a.disabled {
  color: #ccc !important;
  cursor: default;
}

.navbar-brand {
  padding: 5px;
}

.input-group .form-control.width_1_2 {
  width: 50%;
}
.input-group .form-control.width_1_3 {
  width: 33.33%;
}
.input-group .form-control, .input-group-addon {
  border-left-width: 0px;
}
.input-group :first-child {
  border-left-width: 1px;
}
.input-group .input-group-addon {
  border-right: 1px solid #ccc;
}
.has-error .input-group .input-group-addon, .has-error .input-group .input-group-btn .btn-default {
  color: #a94442;
  border-color: #a94442;
}
.has-error .input-group .input-group-btn .btn-default:hover {
  background-color: #f2dede;
}

::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc !important;
  font-weight: normal;
}
:-ms-input-placeholder {
  color: #ccc !important;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc !important;
  font-weight: normal;
}

.input-group-borderless {
  background: none;
  border-right: 0 !important;
  padding-right: 4px;
  margin-right: 0;

  &.borderless-empty {
    width: 0;
    padding: 0;
  }

  &.borderless-disabled {
    background-color: #eee;
    border-right: 1px solid #ccc !important;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.input-group-radiusless + .select2-container--bootstrap .select2-selection {
  border-radius: 0;
}

/* Tables */
.table {
  word-wrap: break-word;

  td {
    // Define a max width for all tables to make word wrap working
    max-width: 260px;
  }
}

/* Colors */

.color_small {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  vertical-align: middle;
}

[data-color=''] {
  border: 1px solid gray;
}

._color_small[data-color=''] {
  margin-left: 0px;
  margin-right: 0px;
}

span.color[data-color='']:after,
span.color[data-color=''][data-selected]:after,
.color_small[data-color='']:after,
.color_small[data-color=''][data-selected]:after {
  content: "";
  font-family: "FontAwesome";
  color: inherit;
}

span.color[data-color='']:after,
span.color[data-color=''][data-selected]:after {
  margin-left: 3px;
  margin-right: 3px;
}

.color_small[data-color='']:after,
.color_small[data-color=''][data-selected]:after {
  line-height: 11px;
  font-size: 10px;
  vertical-align: top;
  padding-left: 2px;
}

.map-fixed-size {
  width: 100%;
  height: 250px;

  .leaflet-control-layers-expanded {
    max-height: 150px;
    overflow-y: auto;

    label {
      margin-bottom: 0px;
      white-space: nowrap;
    }
  }
}

.stop-popup {
  .stop-popup-header:before, .stop-popup-header:after {
    content: " ";
    display: table;
    clear: both;
  }
  .visits {
    max-height: 200px;
    overflow-y: auto;
  }
  .ui-state-error {
    border: 0px;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px 10px;
  }
}

#map {
  @media print {
    .leaflet-control-zoom {
      display: none;
    }
  }

  .leaflet-control-disable-clusters {
    &:hover {
      cursor: pointer;
    }
  }

  .focus-geocoder {
    background-color: red;
    border: none;
    border-radius: 100%;
    box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.75);
  }
  .focus-geocoder:after {
    content: "";
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 300%;
    width: 300%;
    position: absolute;
    margin: -100% 0 0 -100%;
    box-shadow: 0 0 6px 2px red;
    animation: focus 2s ease-out;
  }
  @keyframes focus {
    0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
    50% {
      opacity: 1;
      -ms-filter: none;
      filter: none;
    }
    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
    }
  }
}

[data-controller='devise_sessions'], [data-controller='devise_passwords'], [data-controller='registrations'], [data-controller='users'] {
  #registration-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #registration-footer {
    @media(min-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    li {
      list-style: none;

      @media(min-width: 768px) {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}

[data-controller='plannings'][data-action='edit'],
[data-controller='api_web_v01_plannings'][data-action='edit'],
[data-controller='plannings'][data-action='update'],
[data-controller='api_web_v01_plannings'][data-action='update'],
[data-controller='zonings'][data-action='edit'],
[data-controller='api_web_v01_zonings'][data-action='edit'],
[data-controller='zonings'][data-action='update'],
[data-controller='api_web_v01_zonings'][data-action='update'],
[data-controller='api_web_v01_destinations'][data-action='index'],
[data-controller='api_web_v01_routes'][data-action='index'],
[data-controller='api_web_v01_zones'][data-action='index'] {
  .number {
    margin-top: -3px;
    white-space: nowrap;
  }

  .label {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    font-weight: 700;
  }

  .label-empty {
    visibility: hidden;
  }
}

[data-controller='plannings'][data-action='edit'],
[data-controller='plannings'][data-action='update'],
[data-controller='zonings'][data-action='edit'],
[data-controller='zonings'][data-action='update'] {
  #map {
    top: $navbar-height;
  }
  .sidebar {
    top: $navbar-height + $sidebar-margins;

    &.collapsed {
      top: $navbar-height + $sidebar-margins !important;
    }
  }
  @media(max-width:768px) {
    .sidebar {
      top: $navbar-height;
    }
  }
}

[data-controller='api_web_v01_plannings'][data-action='edit'],
[data-controller='api_web_v01_plannings'][data-action='update'],
[data-controller='api_web_v01_zonings'][data-action='edit'],
[data-controller='api_web_v01_zonings'][data-action='update'] {
  #map {
    top: 0px;
  }
}

[data-controller='plannings'][data-action='edit'],
[data-controller='api_web_v01_plannings'][data-action='edit'],
[data-controller='plannings'][data-action='update'],
[data-controller='api_web_v01_plannings'][data-action='update'],
[data-controller='zonings'][data-action='edit'],
[data-controller='api_web_v01_zonings'][data-action='edit'],
[data-controller='zonings'][data-action='update'],
[data-controller='api_web_v01_zonings'][data-action='update'] {
  $transition-duration: 0.5s;

  #map {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .sidebar.leaflet-touch {
    border: 2px solid rgba(0,0,0,0.2);
  }

  .sidebar {
    transition: right $transition-duration, top $transition-duration, width $transition-duration, height $transition-duration;
    z-index: 3;

    .sidebar-tabs {
      width: 0;
    }
    .sidebar-content {
      right: 0;
      background-color: white;

      .sidebar-pane {
        padding: 5px;
        min-width: 100%;

        h1 {
          margin-top: 30px;
        }
        .form-horizontal .form-group {
          margin-left: -10px;
          margin-right: -10px;
        }
        .panel .panel-heading {
            padding: 2px 5px;
        }
      }
      .sidebar-close {
        position: relative;
        width: auto;
        height: auto;
      }
    }
  }
  .collapsed {
    &.sidebar {
      width: 40px !important;
      height: 40px !important;
      right: $sidebar-margins !important;
      border-radius: 4px !important;
    }
    .sidebar-tabs {
      width: 100%;
      border-radius: 4px !important;
    }
    .sidebar-content {
      right: 500px;
    }
  }
  @media(min-width:768px) {
    .sidebar {
      width: $sidebar-width;
    }
  }
  .sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover, .sidebar-tabs > ul > li > a:hover, .sidebar-tabs > ul > li > a > i:hover,
  .sidebar-tabs > li.active, .sidebar-tabs > ul > li.active, .sidebar-tabs > ul > li > a.active, .sidebar-tabs > ul > li > a > i.active {
    background-color: #eee;
  }
  .sidebar-map {
    margin-right: 0px !important;
  }

  .flash {
    left: 56px;
    position: fixed;
    right: 390px;
  }
  @media(max-width:768px) {
    .flash {
      right: 56px;
    }
  }
}

.error-page {
  .header {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .footer {
    @media(min-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    li {
      list-style: none;

      @media(min-width: 768px) {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}

#color_picker{
  opacity:0;
  background: transparent;
}
#customised_color_picker{
  display: inline-block;
  vertical-align: middle;
  cursor:pointer;
  transform: translateX(-5px);
}
#customised_plus_color{
  color: #428bca;
}

.subscription {
  background-color: #13B0CA;
  margin-left: 10px;
  margin-right: 15px;

  & > a {
    color: $focus-font-color !important;
    font-weight: bold;
  }
}

.help {
  background-color: $focus-background-color;
  > a {
    color: $focus-font-color !important;
    font-weight: bold;
  }
  &.open > a {
    color: #777 !important;
  }
}

input.form-control.number-of-days {
  width: 60px;

  &:focus {
    border-left-width: 1px;
  }
}

// Form
.form-group {
  &.has-error {
    .help-inline {
      color: #a94442;
    }

    .help-block {
      color: inherit;
    }
  }
}

// Error pages
.error-panel {
  border-color: #ebccd1;
}

.panel-heading.error-heading {
  background-color: #f2dede;
  border-color: #ebccd1;
}

.error-details {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
}

.dropdown-spacing {
  padding: 5px 10px;
}
