// Copyright © Mapotempo, 2014
//
// This file is part of Mapotempo.
//
// Mapotempo is free software. You can redistribute it and/or
// modify since you respect the terms of the GNU Affero General
// Public License as published by the Free Software Foundation,
// either version 3 of the License, or (at your option) any later version.
//
// Mapotempo is distributed in the hope that it will be useful, but WITHOUT
// ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE.  See the Licenses for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Mapotempo. If not, see:
// <http://www.gnu.org/licenses/agpl.html>
//
// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


[data-controller='stores'] {

  input[name='store\[street\]'] + .input-group-addon {
    cursor: pointer;
  }

  #geocoding_accuracy, #no_geocoding_accuracy, #geocoding_level {
    display: table-cell;
    padding-right: 5px;
    vertical-align: top;
  }
  #geocoding_accuracy {
    width: 66%;
    padding-top: 5px;
  }
  #geocoding-progress {
    margin-bottom: 0px;
  }
  #geocoding-level {
    width: 33%;
  }
  #geocoding-level span {
    line-height: 1;
  }

  #no_geocoding_accuracy, #geocoding_level {
    padding-top: 7px;
  }

  #geocoding_fail {
    padding-top: 7px;
    color: red;
    font-weight: bold;
  }

  &[data-action='import'] {
    #columns-table {
      margin: 15px 5px;
    }

    .column-heading td, .column-desc td {
      padding-bottom: 5px;
    }
  }

  &[data-action='index'] {
    @media screen and (max-width: 767px) {
      #stores {
        tr th:nth-of-type(4), tr td:nth-of-type(4),
        tr th:nth-of-type(5), tr td:nth-of-type(5) {
          display: none;
        }
      }
    }
  }

  #store_icon + div {
    z-index: 1000;

    .btn[data-id='store_icon'] {
      color: #555;
    }
  }
}

