// Place all the styles related to the zonings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon {
  font-size: 14px;
}

#zones {
  .form-group {
    margin-right: 0;
    margin-left: 0;
  }
}

.fill {
  #map {
    height: 600px;
  }
}
