<div id="map"></div>
<% if !@routes.select{ |route| route.vehicle_usage && route.stops.size > 0 }.empty? %>
  <div id="routes-caption" class="map-caption">
    <% @routes && @routes.each do |route| %>
      <% if route.vehicle_usage && route.stops.size > 0 %>
        <div class="map-caption-item">
          <span class="color_small" style="background: <%= route.color || route.vehicle_usage.vehicle.color %>"></span>
          <%= route.vehicle_usage.vehicle.name %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<%
layers = (current_user.customer.profile.layers + [current_user.layer]).sort_by(&:id).uniq.collect{ |layer|
  {
    name: layer.name,
    url: request.ssl? ? layer.urlssl : layer.url,
    attribution: layer.map_attribution,
    default: @layer ? layer == @layer : layer == current_user.layer,
    overlay: layer.overlay
  }
}
controller.js(
  planning_id: @planning.id,
  route_ids: @routes ? @routes.collect(&:id) : nil,
  map_layers: Hash[layers.map{ |l| l[:name] }.zip(layers)],
  map_lat: @planning.vehicle_usage_set.vehicle_usages.collect(&:default_store_start).compact.find{ |s| s.lat }.try(:lat) || @planning.customer.default_position[:lat],
  map_lng: @planning.vehicle_usage_set.vehicle_usages.collect(&:default_store_start).compact.find{ |s| s.lng }.try(:lng) || @planning.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  vehicles_map: Hash[@planning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, capacity: vehicle.capacity}]
  }]
)
%>
