<div id="map"></div>
<div id="routes-caption" class="map-caption">
  <% @routes && @routes.each do |route| %>
    <% if route.vehicle %>
      <div class="map-caption-item">
        <span class="color_small" style="background: <%= route.color || route.vehicle.color %>"></span>
        <%= route.vehicle.name %>
      </div>
    <% end %>
  <% end %>
</div>
<%
controller.js(
  planning_id: @planning.id,
  route_ids: @routes ? @routes.collect(&:id) : nil,
  map_layer_url: request.ssl? ? current_user.layer.urlssl : current_user.layer.url,
  map_lat: @planning.customer.default_position[:lat],
  map_lng: @planning.customer.default_position[:lng],
  map_attribution: current_user.layer.map_attribution,
  vehicles_map: Hash[@planning.customer.vehicles.collect{ |vehicle|
    [vehicle.id, {id: vehicle.id, name: vehicle.name, color: vehicle.color, capacity: vehicle.capacity}]
  }]
)
%>
